<button mat-raised-button color="primary" (click)="agregar()">
    <mat-icon aria-hidden="false" aria-label="Example add icon">add</mat-icon>
    Agregar
</button> 

<div id="tabla_zonas">
<table border="1">
   <thead>
       <tr>
           <th>Ciudad</th>
           <th>Acciones</th>
       </tr>
   </thead>
   <tbody>
       <tr *ngFor="let miciudad of ciudades">
           <td> {{miciudad.ciudad}} </td>
           <td> 
               <button mat-raised-button color="primary" (click)="modificar(miciudad)">
                    <mat-icon aria-hidden="false" aria-label="Example edit icon">edit</mat-icon>
                    Modificar
                </button> 
               <button mat-raised-button color="warn"  (click)="eliminar(miciudad)">
                    <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
                    Eliminar
                </button>
           </td>
       </tr>
   </tbody>
</table>
</div>

